.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
}

.left-column, .middle-column, .right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.left-column, .right-column {
  justify-content: flex-start; /* Align items at the top */
}

.middle-column {
  justify-content: center; /* Center the chessboard vertically */
}

.left-column {
  margin-top: 10%;
}

.right-column{
  margin-top: 5%;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.controls button {
  margin: 0 5px;
  padding: 5px 10px;
}

.move-list {
  margin-top: 20px;
  max-height: 550px;
  overflow-y: auto;
}

.game-status, .error-message {
  margin-top: 10px;
}

select, button {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  text-align: center; /* Center text horizontally */
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .left-column, .middle-column, .right-column {
    width: 100%;
  }
}
