.App {
  text-align: center;
  background-color: #121212; /* Dark background color for the app */
  color: #e0e0e0; /* Light text color for better readability */
  min-height: 100vh; /* Ensure the app takes full height */
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-column,
.right-column {
  width: 22%; /* Equal width for columns */
  padding: 20px;
  background-color: #1e1e1e; /* Dark background for columns */
  border-radius: 10px;
  color: #e0e0e0; /* Light text color */
  height: 650px;
}

.left-column {
  font-weight: bold;
}

.middle-column {
  width: 56%; /* Adjusted width for balance */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-status-container {
  margin-bottom: 20px;
  height: 15px;
  padding: 10px;
}

.game-status {
  font-size: 1.2em;
  color: #00bfae; /* Light teal color for status */
  font-weight: bolder;
}

.error-message {
  font-size: 1.1em;
  color: #ff6f61; /* Light coral color for errors */
  font-weight: bolder;
}

.suggest-move {
  margin-top: 20px;
}

.game-stats {
  margin-top: 20px;
  font-size: 1.2em;
}

.chessboard-container {
  position: relative;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.controls button {
  background-color: #333; /* Dark gray for buttons */
  color: #e0e0e0; /* Light text color */
  border: none;
  padding: 10px 20px;
  margin: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

.controls button:hover {
  background-color: #555; /* Slightly lighter gray */
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.controls button:disabled {
  background-color: #222; /* Slightly lighter gray for disabled */
}

.move-list {
  max-height: 580px;
  overflow-y: auto;
  text-align: left;
  color: #e0e0e0; /* Light text color */
}

.move-list ul {
  list-style-type: none;
  padding: 0;
}

.move-list li {
  padding: 5px;
  cursor: pointer;
}

.move-list li:hover {
  background-color: #333; /* Darker gray for hover effect */
}

.suggest-move p {
  font-size: 1.2em;
  color: #e0e0e0; 
  margin-top: 10px;
}

.left-column select,
.left-column button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #444; /* Dark border color */
  margin-top: 50px;
}

.left-column select {
  background-color: #333; /* Dark background for select */
  color: #e0e0e0; /* Light text color */
}

.left-column button {
  background-color: #007acc; /* Bright blue color for buttons */
  color: white;
}

.left-column button:hover {
  background-color: #005fa3; /* Darker blue for hover */
}

.left-column button:disabled {
  background-color: #555; /* Darker gray for disabled */
  cursor: not-allowed;
}

.chess-icon {
  position: absolute;
  bottom: 100px;
  margin-bottom:0%;
  width: 285px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Make sure it's displayed as a block element */
}
